@define-mixin forMobileLarge {
  @media (min-width: 346px) {
    @mixin-content;
  }
}

@define-mixin forTablet {
  @media (min-width: 481px) {
    @mixin-content;
  }
}

@define-mixin forLaptop {
  @media (min-width: 769px) {
    @mixin-content;
  }
}

@define-mixin forLaptopLarge {
  @media (min-width: 1025px) {
    @mixin-content;
  }
}

@define-mixin forUltraHD {
  @media (min-width: 1441px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}