/* $primaryLight: #72bae5; */
$primaryColor: #062f4f;
/* $primaryDark: #242582; */

/* $secondaryLight: #99738e; */
$secondaryColor: #b82601;
/* $secondaryDark: #553d67; */

$tertiaryColor: #6F4E37;

$offwhite: #f4f4f4;
$black: #1d2731;

$lightGray: #e2e2e2;
$gray: #acacac;
$darkGray: #737373;
