$yellow: #beb700;

$blue: #2e61a3;

$green: #3f9357;

$lightOrange: #ffe4d1;

$lightRed: #ffd4d4;
$red: #c52121;
$darkRed: #6b0c04;

$darkPurple: #200830;

$offwhite: #fffafa;

$lightGray: #e2e2e2;
$gray: #acacac;
$darkGray: #737373