.btn {
  background-color: $secondaryColor;
  color: $offwhite;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  display: inline-block;

  &--icon {
    padding: 0;
    width: 42px;
    height: 42px;
    position: relative;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: $offwhite;

      .fa-github {
        color: $primaryColor;
      }
    }
  }

  &--rounded {
    border-radius: 50%;
  }

  &__icon {
    position: absolute;
    top: -2px;
    left: -1px;
    transition: color 0.3s ease-out;

    .fa-github {
      font-size: 45px;
      color: $offwhite;
    }
  }
}
