.flex-layout {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;

  @mixin forTablet {
    padding-left: 18px;
    padding-right: 18px;
  }

  @mixin forLaptop {
    flex-direction: row;
  }

  &--row-static {
    flex-direction: row;
  }

  &--column-at-large {
    @mixin forLaptop {
      flex-direction: column;
    }
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--align-center {
    align-items: center;
  }

  &--justify-center {
    justify-content: center;
  }

  &--no-padding {
    padding: 0;
  }

  &__item {
    padding: 18px;
    flex-basis: auto;

    &--4 {
      flex-basis: 0;
      flex-grow: 4;
      flex-shrink: 4;

      &-laptop {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;

        @mixin forLaptop {
          flex-basis: 0;
          flex-grow: 4;
          flex-shrink: 4;
        }
      }
    }

    &--6 {
      flex-basis: 0;
      flex-grow: 6;
      flex-shrink: 6;

      &-laptop {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;

        @mixin forLaptop {
          flex-basis: 0;
          flex-grow: 6;
          flex-shrink: 6;
        }
      }
    }

    &--8 {
      &-laptop {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;

        @mixin forLaptop {
          flex-basis: 0;
          flex-grow: 8;
          flex-shrink: 8;
        }
      }
    }

    &--no-padding {
      padding: 0;
    }

    &--no-vertical-padding {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--fill {
      flex-grow: 1;
    }
  }
}
