.headline {
  font-size: 1.25rem;
  font-weight: 700;
  color: $primaryColor;
  margin: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);

  @mixin forMobileLarge {
    font-size: 1.5rem;
  }

  &--lite {
    font-weight: 100;
  }

  &--black {
    color: #333333;
  }

  &--primary {
    color: $primaryColor;
  }

  &--padding-t {
    padding-top: 2rem;
  }

  &--margin-b {
    margin-bottom: 1rem;
  }

  &--margin-l {
    margin-left: 1rem;
  }
}
