.page-section {
  background-color: $offwhite;
  padding: 1rem 0;

  @mixin forLaptop {
    padding: 3rem 0;
  }

  &--black {
    background-color: #313131;
    color: $offwhite;
  }

  &--skills {
    background: radial-gradient(rgba($black, 0.9), rgba($black, 0.7)), url('/assets/images/work-table-mobile.png') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    @mixin forTablet {
      background: radial-gradient(rgba($black, 0.9), rgba($black, 0.7)), url('/assets/images/work-table-tablet.png') top center no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    @mixin forLaptop {
      background: radial-gradient(rgba($black, 0.9), rgba($black, 0.7)), url('/assets/images/work-table-laptop.png') top center no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    @mixin forLaptopLarge {
      background: radial-gradient(rgba($black, 0.9), rgba($black, 0.7)), url('/assets/images/work-table-laptop-large.png') top center no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
  }

  &__title-container {
    text-align: center;
    margin: 1.5rem 0 2.5rem 0;
    padding: 0 2rem;

    @mixin forTablet {
      margin: 2rem 0 2.5rem 0;
    }

    @mixin forLaptop {
      margin: 2rem 0 2.5rem 0;
    }

    &--no-margin-b {
      margin-bottom: 0;
    }
  }
}
