.primary-nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @mixin forTablet {
    top: 0;
    transform: translateY(0);
  }

  &--pull-right {
    @mixin forTablet {
      float: right;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    line-height: 4rem;
    padding: 0 18px;

    @mixin clearfix;

    @mixin forTablet {
      padding: 0;
      line-height: unset;
    }
  }

  &__list-item {
    list-style: none;

    @mixin forTablet {
      float: left;
      display: block;
    }
  }

  &__link {
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(107, 12, 4, 0.5);
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    font-size: 1.25rem;
    transition: all 0.2s ease-out;
    transition-property: color, text-shadow, background-color;

    @mixin forTablet {
      font-size: 1rem;
      padding: 1.125rem 1rem;
    }

    @mixin forLaptop {
      padding: 1.125rem 1.5rem;
    }

    @mixin forLaptopLarge {
      padding: 1.125rem 2rem;
    }

    &.is-current-link {
      color: $secondaryColor;
      background-color: rgba($offwhite, 0.8);

      @mixin forTablet {
        text-shadow: 1px 1px 0 rgba($black, 0.1);

        .site-header--dark & {
          background-color: rgba($offwhite, 0.8);
        }
      }
    }

    &:hover {
      @mixin forTablet {
        color: $secondaryColor;
        text-shadow: 1px 1px 0 rgba($offwhite, 0.1);
      }
    }
  }
}
