.profile {
  &__picture {
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin: auto;
    width: 150px;
    height: 150px;
    border: 2px $lightGray solid;
    position: relative;

    @mixin forLaptop {
      width: 200px;
      height: 200px;
    }

    @mixin forLaptopLarge {
      width: 275px;
      height: 275px;
    }
  }

  &__detail-title {
    margin: 0;
  }
}
