.section-title {
  font-weight: 300;
  text-align: center;
  margin: 0 0 1rem 0;
  padding: 0 0 1rem 0;

  @mixin starJedi;

  @mixin forTablet {
    font-size: 2.75rem;
  }

  @mixin forLaptop {
    max-width: none;
    font-size: 3rem;
    letter-spacing: 3px;
  }

  strong {
    color: $darkRed;
  }

  &--inline-block {
    display: inline-block;
    border-bottom: 1px $lightGray solid;
  }

  &--white {
    color: #fff;

    strong {
      color: $red;
    }
  }

  &--white-inline-block {
    display: inline-block;
    border-bottom: 1px $darkRed solid;
  }
}
