.section-title {
  font-weight: 300;
  text-align: center;
  margin: 0 0 1rem 0;
  padding: 0 0 1rem 0;

  @mixin forTablet {
    font-size: 2.75rem;
  }

  @mixin forLaptop {
    max-width: none;
    font-size: 3rem;
    letter-spacing: 3px;
  }

  strong {
    /* color: $primaryColor; */
    color: $secondaryColor;
  }

  &--inline-block {
    display: inline-block;
    border-bottom: 1px rgba($black, 0.3) solid;
  }

  &--white {
    color: $offwhite;

    strong {
      color: $secondaryColor;
    }
  }

  &--white-inline-block {
    display: inline-block;
    border-bottom: 1px rgba($offwhite, 0.3) solid;
  }
}
