.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @mixin forLaptop {
    padding-left: 50px;
    padding-right: 50px;
  }

  @mixin forLaptopLarge {
    padding-left: 18px;
    padding-right: 18px;
  }
}
